device_name: ZyzDisplay
device_type: speaker

audio_backend: alsa
audio_device: plughw:1,0
bitrate: 320
initial_volume: 75

zeroconf_enabled: true
zeroconf_backend: avahi
zeroconf_interfaces_to_advertise:
  - wlan1

credentials:
  type: zeroconf
  zeroconf:
    persist_credentials: true

server:
  enabled: true
  address: 127.0.0.1
  port: 3678
  image_size: large
